{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block content %}
    <h1>Level</h1>

<p>You just created/updated a level</p>
<ul>
    <ul>
    <li>id: {{ level_id }}</li>
    <li>name: {{ level_name }}</li>
    <li>description: {{ level_description }}</li>
</ul>
</ul>

<a href="{{ path('_level_update', {'id': level_id }) }}">update</a>
{% endblock %}
