{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
    <h1>Level</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_level_new') }}">new level</a></li>
    </ul>
    {% for level in levels %}
        <li>{{ level.name }}</li>
        <li>{{ level.description }}</li>
        <li><a href="{{ path('_level_update', {'id': level.id }) }}">update</a></li>
    {% else %}
        <li>No level found</li>
    {% endfor %}
{% endblock %}
