{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Skillerator" %}

{% block content %}
    <h1>Skills</h1>

<p>You just created/updated a skill</p>
<ul>
    <li>id: {{ skill_id }}</li>
    <li>name: {{ skill_name }}</li>
    <li>description: {{ skill_description }}</li>
</ul>

<a href="{{ path('_skills_edit', {'id': skill.id }) }}">update</a>
{% endblock %}
