{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
    <h1>Skills</h1>

<p>You just created a new skill</p>
<ul>
    <li>id: {{ skill_id }}</li>
    <li>name: {{ skill_name }}</li>
</ul>
{% endblock %}
