{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content %}
    <h1>Skills</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_skills_new') }}">new Skill</a></li>
    </ul>

    <ul>
    {% for skill in skills %}
        <li>{{ skill.name }}</li>
        <li>{{ skill.description }}</li>
        <li><a href="{{ path('_skills_edit', {'id': skill.id }) }}">edit</a></li>
    {% else %}
        <li>No skills found</li>
    {% endfor %}
</ul>
{% endblock %}
