{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block title "Skillerator" %}

{% block content %}
    <h1>Enter new skill</h1>
    <form action="{{ path('_skills_create') }}" method="post" {{ form_enctype(form) }}> 
      {{ form_widget(form) }}
      <input type="submit" />
    </form>

{% endblock %}
