{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}


{% block content %}
    <h1>Contact</h1>
    <p>
        Micha Trieba</br>
        <a href="mailto:trieba@e-gestaltung.de">trieba@e-gestaltung.de</a>
    </p>
{% endblock %}
