{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}


{% block content %}
    <table>
        <tr>
            <td class="level1">Junior</td><td>Basic Knowledge, small experience</td><td>Shu level</td>
        </tr>
        <tr>  
            <td class="level1">Developer</td><td>Skill has been trained and regularly applied for a longer period. Broad and depth knowledge.</td><td>Shu level</td>
        </tr>
        <tr> 
            <td class="level1">Senior</td><td>Deep knowledge, long experience, able to solve dodgy issues</td><td>Ha level</td>
        </tr>
        <tr> 
            <td class="level1">Teacher</td><td>Skills like senior plus ability to teach people</td><td>Ri level</td>
        </tr>
    </ul>
{% endblock %}
