{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block content %}
    <h1>What is a Skillerator</h1>

    <ul>
      <li>Manage your skills</li>
      <li>Manage your team's skills</li>
      <li>Manage your company's skills</li>
    </ul>
{% endblock %}

{% set code = code(_self) %}
