{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block content %}
    <h1>What is a Skillerator</h1>

      <h2>Manage your skills</h2>
      <h2>Manage your team's skills</h2>
      <h2>Manage your company's skills</h2>

{% endblock %}
