{% extends "TriebawerkeSkilleratorBundle::layout.html.twig" %}

{% block content %}
    <h1>What is a Skillerator</h1>

      <h2>Manage your skills</h2>
      <p>Input your skills, define your current skill level, designate your
          certificates and set your goals.</p>
      <h2>Manage your team's skills</h2>
      <p>Aggregate your team's skills and overview the strength and weaknesses</p>
      <h2>Manage your company's skills.</h2>
      <p>Aggregate your company's skills, plan workshops, advanced training and
          the company's future orientation.</p>

{% endblock %}
