{% extends 'TriebawerkeSkilleratorBundle::layout.html.twig' %}

{% block title %}Skillerator{% endblock %}

{% block content %}
<h1>Enter new certificate</h1>

<form action="{{ path('certificate_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit">Create</button>
</form>

<ul class="record_actions">
    <li><a href="{{ path('certificate') }}">Back to the list</a></li>
</ul>
{% endblock %}
